<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="icon" href="/icon.png" />
    <title>fpgaOneTemplate</title>
  </head>
  <div id="divConsole" style="display: none;"></div>
  <script src="/console.js"></script>
  <script src="/utils.js"></script>
  <body><render></render>
<script>

    let device = {
        "name":"fpgaOne",
        "type":"fpga",
        "protocol":"tcp/ip",
        "direction":"127.0.0.1",
        "port":"5000",
        "id":1
    };

    async function start(){
        
        let render = await utils.getRender();
        let user = await utils.getUser();
        let configuration = await utils.getConfiguration();
        
        let deviceIframe = document.createElement("iframe");
        deviceIframe.setAttribute(
            "src", location.origin + "/devices/fpga.html?user=" + 
            JSON.stringify(user) 
            + "&&device=" + 
            JSON.stringify(device)
        );
        deviceIframe.style.width = "100%";
        deviceIframe.style.height = "100%";
        render.appendChild(deviceIframe);
      }
      start();
  </script>
  
  
  </body>
  <script>
    document.body.style.height = document.body.scrollWidth + 'px';
  </script>
</html>
